body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    direction: rtl;
    background-color: #f4f7fa;
}

header {
    background-color: #007bff;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.container {
    padding: 2rem;
}

#closeModalBtn {
    width: 20%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #34a2eb;
    font-family: inherit;
    margin-right: 85%;
}

.planner {
    display: grid;
    grid-template-columns: 100px repeat(5, 1fr);
    gap: 1px;
    background-color: #d0f7f9;
    direction: rtl;
}



.planner .day-column {
    background-color: white;
    min-height: 50%;
    font-size: 0.5rem;
    padding: 2rem;
    position: relative;
}

.planner .header {
    background-color: #007bff;
    color: white;
    text-align: center;
    font-weight: bold;
}

.task-card {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #e3f2fd;
    border: 1px solid #90caf9;
    border-radius: 6px;
    padding: 4px 6px;
    margin-bottom: 1px;
    position: relative;
    font-size: 100%;
    /* השאר כמו שהיה 
    background-color: #e3f2fd;
    border: 1px solid #90caf9;
    border-radius: px;
    padding: 4px 6px;
    margin-bottom: 8px;
    position: relative;
    */
}

.task-card .status {
    font-weight: bold;
}

.task-card .actions {
    position: absolute;
    top: 4px;
    left: 4px;
    display: flex;
    gap: 4px;
}

.task-card .actions .addAsyBtn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.add-task-btn {
    position: fixed;
    bottom: 30px;
    left: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #1944ec;
    color: white;
    font-size: 36px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(180, 243, 251, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    width: 300px;
}

.modal-content h3 {
    margin-top: 0;
}

.modal-content input,
.modal-content select,
.modal-content textarea,
.modal-content .addAsyBtn {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #34a2eb;
    font-family: inherit;
}

.priority-low {
    background-color: #e3f2fd;
    border-color: #90caf9;
}

.priority-medium {
    background-color: #fff3cd;
    border-color: #ffe58f;
}

.priority-high {
    background-color: #f8d7da;
    border-color: #f5c6cb;
}